@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin: 25px 0 0;
    font-weight: 100;
}

.photographer_section article img, #image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-picture-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration : none;
}

.photographe-location {
    color: #901C1C;
    margin: 0;
}

.photographe-description {
    margin: 5px 0;
    font-size: 11px;
    font-weight: bold;
}

.photographe-tarif {
    margin: 0;
    font-size: 11px;
}

#name {
    color: #D3573C;
    font-size: 50px;
    font-weight: 100;
    margin: 0;
}

#location {
    color: #901c1c;
    margin: 10px 0;
    font-weight: bold;
    font-size: 20px;
}

#tagline {
    font-size: 14px;
    font-weight: 100;
    margin: 20px 0 10px 0;
}

.photograph-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photographer-header {
    padding-bottom: 35px;
}

#label {
    margin: 40px 0 40px 100px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

#sort-select {
    margin: 0 0 0 20px;
    border: none;
    background-color: #901C1C;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

#select option {
    border-bottom: 1px solid white;
}

.input-message {
    height: 200px;
}